################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dennis.Steven.HelloWorld.Console/bin/Debug
